.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.main-menu-link {
    display: block;
}
.mobile {
    display: none;
}
@media  (max-width: 1024px) {
    .mobile {
        display: block;
    }
    .mobile-close {
        display: none;
    }

}